Aqui vamos vamos uma breve análise de como ficou os dados.

In [1]:
pip install pandas numpy

Requirement already satisfied: pandas in c:\users\amand\appdata\local\programs\python\python312\lib\site-packages (2.3.2)
Requirement already satisfied: numpy in c:\users\amand\appdata\local\programs\python\python312\lib\site-packages (2.3.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\amand\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\amand\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\amand\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\amand\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.2 -> 26.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
from datetime import datetime
import warnings
warnings.filterwarnings('ignore')

In [3]:
# Lendo o arquivo CSV da camada SILVER
# ..  : Sobe para a pasta raiz do projeto

# data/silver : Entra na pasta onde estão os dados limpos
# supermarket_sales_clean.csv : O nome do arquivo que o script da Silver gerou

df = pd.read_csv("../data/silver/supermarket_sales_clean.csv")

O dataset tem 1000 linhas e 21 colunas.

,id_fatura,filial,cidade,tipo_cliente,genero,linha_produto,preco_unitario,quantidade,imposto_5pct,total,...,hora,forma_pagamento,avaliacao,ano,mes,dia,dia_semana,periodo_dia,dia_util,quinzena
0,980-96-6231,C,Mandalay,Normal,Male,Health and beauty,17.85,3,2.6775,56.2275,...,09:07,Credit card,7.7,2025,5,17,Saturday,Manhã,Não,2ª Quinzena
1,507-42-1337,A,Naypyitaw,Member,Female,Sports and travel,63.94,10,31.9700,671.3700,...,20:58,Cash,9.9,2025,8,10,Sunday,Noite,Não,1ª Quinzena
2,355-43-7343,B,Mandalay,Member,Male,Health and beauty,67.41,3,10.1115,212.3415,...,06:02,Cash,5.0,2025,6,2,Monday,Manhã,Sim,1ª Quinzena
3,402-08-0272,C,Yangon,Normal,Female,Electronic accessories,34.69,1,1.7345,36.4245,...,21:02,Ewallet,10.0,2025,12,14,Sunday,Noite,Não,1ª Quinzena
4,250-73-6473,B,Yangon,Member,Female,Health and beauty,90.63,4,18.1260,380.6460,...,20:08,Credit card,7.7,2025,6,16,Monday,Noite,Sim,2ª Quinzena

In [ ]:
# Dicas para conferir se carregou certo:
print(f"O dataset tem {df.shape[0]} linhas e {df.shape[1]} colunas.")
df.head()

In [4]:
# Estrutura dos dados
print("\n Tipos de dados por coluna:")
dtypes_df = pd.DataFrame({
    'Coluna': df.dtypes.index,
    'Tipo': df.dtypes.values,
    'Valores Únicos': [df[col].nunique() for col in df.columns],
    'Exemplo': [df[col].iloc[0] for col in df.columns]
})
print(dtypes_df.to_string(index=False))

 Tipos de dados por coluna:
         Coluna    Tipo  Valores Únicos           Exemplo
      id_fatura  object            1000       980-96-6231
         filial  object               3                 C
         cidade  object               3          Mandalay
   tipo_cliente  object               2            Normal
         genero  object               2              Male
  linha_produto  object               6 Health and beauty
 preco_unitario float64             943             17.85
     quantidade   int64              10                 3
   imposto_5pct float64             981            2.6775
          total float64             981           56.2275
           data  object             345        2025-05-17
           hora  object             743             09:07
forma_pagamento  object               3       Credit card
      avaliacao float64              61               7.7
            ano   int64               2              2025
            mes   int64              12                 5
            dia   int64              31                17
     dia_semana  object               7          Saturday
    periodo_dia  object               3             Manhã
       dia_util  object               2               Não
       quinzena  object               2       2ª Quinzena

In [5]:
# Criando um DataFrame para as estatísticas descritivas , assim vira uma tabela completa com todas as 
# informações de cada coluna numérica, facilitando a visualização e comparação entre elas.

stats = []

numeric_cols = df.select_dtypes(include=[np.number]).columns

for col in numeric_cols:
    stats.append({
        "Coluna": col,
        "Min": df[col].min(),
        "Max": df[col].max(),
        "Média": df[col].mean(),
        "Mediana": df[col].median(),
        "Desvio Padrão": df[col].std(),
        "Q1": df[col].quantile(0.25),
        "Q3": df[col].quantile(0.75),
        "IQR": df[col].quantile(0.75) - df[col].quantile(0.25)
    })

stats_df = pd.DataFrame(stats)
stats_df

,Coluna,Min,Max,Média,Mediana,Desvio Padrão,Q1,Q3,IQR
0,preco_unitario,10.320,99.91,56.246500,56.820,26.281167,32.52750,80.0525,47.52500
1,quantidade,1.000,10.00,5.569000,6.000,2.896831,3.00000,8.0000,5.00000
2,imposto_5pct,0.516,49.84,15.600953,12.701,11.553617,5.95375,22.4965,16.54275
3,total,10.836,1046.64,327.620024,266.721,242.625961,125.02875,472.4265,347.39775
4,avaliacao,4.000,10.00,6.947300,6.900,1.748877,5.40000,8.5000,3.10000
5,ano,2025.000,2026.00,2025.091000,2025.000,0.287753,2025.00000,2025.0000,0.00000
6,mes,1.000,12.00,6.711000,7.000,3.452448,4.00000,10.0000,6.00000
7,dia,1.000,31.00,15.830000,16.000,8.721879,8.00000,23.0000,15.00000

In [6]:
# Estatísticas descritivas para colunas categóricas
df.describe(include=['object'])

,id_fatura,filial,cidade,tipo_cliente,genero,linha_produto,data,hora,forma_pagamento,dia_semana,periodo_dia,dia_util,quinzena
count,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000,1000
unique,1000,3,3,2,2,6,345,743,3,7,3,2,2
top,980-96-6231,C,Mandalay,Normal,Male,Health and beauty,2025-07-23,22:33,Ewallet,Saturday,Noite,Sim,2ª Quinzena
freq,1,341,343,518,512,186,9,5,353,150,463,715,509

In [7]:
# Aqui eu verifico valores ausentes

missing = df.isnull().sum()
missing_pct = (df.isnull().sum() / len(df)) * 100

missing_df = pd.DataFrame({
    'Coluna': missing.index,
    'Valores Ausentes': missing.values,
    'Percentual (%)': missing_pct.values
})

print("\n Valores ausentes por coluna:")
print(missing_df)

if missing.sum() == 0:
    print("\n Excelente! Nenhum valor ausente encontrado.")
else:
    print(f"\n  Total de valores ausentes: {missing.sum()}")

 Valores ausentes por coluna:
             Coluna  Valores Ausentes  Percentual (%)
0         id_fatura                 0             0.0
1            filial                 0             0.0
2            cidade                 0             0.0
3      tipo_cliente                 0             0.0
4            genero                 0             0.0
5     linha_produto                 0             0.0
6    preco_unitario                 0             0.0
7        quantidade                 0             0.0
8      imposto_5pct                 0             0.0
9             total                 0             0.0
10             data                 0             0.0
11             hora                 0             0.0
12  forma_pagamento                 0             0.0
13        avaliacao                 0             0.0
14              ano                 0             0.0
15              mes                 0             0.0
16              dia                 0             0.0
17       dia_semana                 0             0.0
18      periodo_dia                 0             0.0
19         dia_util                 0             0.0
20         quinzena                 0             0.0

 Excelente! Nenhum valor ausente encontrado.

In [8]:
# Aqui eu verifico duplicatas

duplicates = df.duplicated().sum()
print(f"\n Total de linhas duplicadas: {duplicates}")

if duplicates > 0:
    print(f"  {duplicates} duplicatas encontradas ({(duplicates/len(df)*100):.2f}%)")
    print("\nExemplo de duplicatas:")
    print(df[df.duplicated(keep=False)].head())
else:
    print(" Nenhuma duplicata encontrada.")

 Total de linhas duplicadas: 0
 Nenhuma duplicata encontrada.